.header {
    margin: 20px auto 0 auto;
    width: 900px;
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 10px;
}

.header button {
    width: 50px;
    height: 50px;
    background: #152c4f;
    color: white;
    font-size: 16pt;
    transition: 0.3s;
}

.header button:hover{
    transform: scale(1.08);
}

.search input {
    display: inline-block;
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    height: 40px;
    padding: 5px 50px;
    -webkit-box-shadow: 0px 2px 0px 0px rgb(35,45,65, 0.3);
    -moz-box-shadow: 0px 2px 0px 0px rgb(35,45,65, 0.3);
    box-shadow: 0px 2px 0px 0px rgb(35,45,65, 0.3);
}

.search {
    display: inline-block;
}

.search p {
    position: relative;
    bottom: 32px;
    left: 14px;
    color: #a7a4a4;
    pointer-events: none;
}

.filter-menu {
    margin: 0 auto;
    width: 880px;
    background: #152c4ff8;
    padding: 10px;
    color: white;
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
}

.filter-menu>p {
    font-size: 11pt;
    margin: 5px 0px 15px 0px;
}

.filter-menu button {
    border: 1px solid white;
    padding: 5px;
    margin-right: 10px;
    color: white;
    font-size: 9pt;
    transition: 0.3s;
}

.filter-menu button:hover {
    background-color: white;
    color: #38455b;
}

.highlight {
    border-bottom: 2px solid #152c4f;
    width: 50px;
    height: 55px;
    opacity: 0;
    transition: 0.3s;
    margin-top: -40px;
}

#download-users:hover .highlight, #filters:hover .highlight {
    visibility: visible;
    opacity: 1;
}

.header button p {
    margin-top: 12px;
}

.slide {
    width: 100%;
    height: 100%;
    background: #152c4ff5;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
}

.container {
    position: absolute;
    width: auto;
    height: 70%;
    left: 50%;
    top: 50%;
    z-index: 101;
    background: white;
    transform: translate(-50%,-50%);
}

.slide-image {
    width: auto;
    height: 100%;
    object-fit: scale-down;
}