.left-panel, .right-panel {
    width: 400px;
    height: 100%;
    top: 0;
    position: fixed;
    background: #152c4ff5;
    transition: 0.3s;
}

.left-panel{
    left: 0;
}

.right-panel{
    right: 0;
    overflow: auto;
}

#toggle-left-panel{
    width: 50px;
    height: 50px;
    background: #152c4f;
    color: white;
    font-size: 16pt;
    transition: 0.3s;
    bottom: 25px;
    position: fixed;
    left: 25px;
}

#toggle-left-panel p{
    margin-top: 12px;
}

#toggle-left-panel:hover {
    transform: scale(1.08);
}

#toggle-left-panel:hover .highlight {
    visibility: visible;
    opacity: 1;
}

#close {
    position: relative;
    top: 0;
    left: 345px;
    color: white;
    transition: 0.3s;
    border-radius: 30px;
    width: 20px;
    height: 20px;
    line-height: 22px;
    text-align: center;
}

#close:hover {
    background: white;
    border-radius: 30px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: #445065;
}

.panel-body {
    width: 350px;
    height: auto;
    margin: 10px auto;
}

p.title {
    color: white;
    font-weight: 500;
    margin: 10px 0 20px 0;
}

p.block-title {
    color: white;
    margin: 30px 0 10px 0;
    border-bottom: 1px solid white;
    padding-bottom: 8px;
    font-size: 10pt;
}

.group-line {
    width: 350px;
    height: 20px;
    margin: 10px 0;
    display: grid;
    grid-template-columns: 80px 240px 20px;
}



.group-line>p {
    color: white;
    float: left;
    font-size: 9pt;
    line-height: 20px;
    margin-right: 15px;
}

.progress {
    float: left;
    width: 230px;
    border: 1px solid white;
    height: 20px;
}

.bar {
    height: 14px;
    background: white;
    margin: 3px;
}

.group-line button {
    color: white;
    transition: 0.3s;
    font-size: 11pt;
    width: 20px;
    height: 20px;
    line-height: 10px;
}
.group-line button:hover {
    color: #445065;
    background-color: white;
    border-radius: 30px;
    
}

.new-request label {
    color: white;
    font-size: 9pt;
    margin-right: 5px;
    line-height: 20px;
    height: 20px;
    float: left;
    margin-top: 5px;
}

.new-request input {
    -webkit-box-shadow: 0px 2px 0px 0px rgb(35,45,65, 0.3);
    -moz-box-shadow: 0px 2px 0px 0px rgb(35,45,65, 0.3);
    box-shadow: 0px 2px 0px 0px rgb(35,45,65, 0.3);
    height: 20px;
    width: 200px;
    padding-left: 10px;
    float: right;
    margin-top: 5px;
    font-size: 9pt;
}

.new-request select {
    -webkit-box-shadow: 0px 2px 0px 0px rgb(35,45,65, 0.3);
    -moz-box-shadow: 0px 2px 0px 0px rgb(35,45,65, 0.3);
    box-shadow: 0px 2px 0px 0px rgb(35,45,65, 0.3);
    height: 20px;
    width: 210px;
    padding-left: 10px;
    float: right;
    margin-top: 5px;
    font-size: 9pt;
}

label.data {
    float: left;
    width: 350px;
}

.new-request textarea {
    resize: none;
    width: 330px;
    height: 310px;
    margin-top: 10px;
    background: #ffffff00;
    border: 1px solid white;
    padding: 10px;
    font-size: 9pt;
    color: white;
}

button.submit {
    background: rgba(255, 255, 255, 0);
    width: 110px;
    height: 30px;
    margin-top: 5px;
    float: right;
    font-size: 10pt;
    transition: 0.3s;
    border: 1px solid white;
    color: white;


}

button.submit:hover {
    background: white;
    color: #434f64;
    border: none;
    cursor: pointer;
}

.item {
    width: 105px;
    height: 105px;
    background: white;
    position: relative;
    cursor: pointer;
    transition: 0.1s;
    border: 2px solid #424e63;
}

.item:hover{
    outline: 2px solid white;
    transform: translate(-2px,-2px);
    transform: scale(1.07);
}

.items {
    display: grid;
    grid-template-columns: 105px 105px 105px;
    grid-template-rows: repeat(6, 105px);
    grid-gap: 17px;
    gap: 17px;
    margin-top: 15px;
}

.item-highlight {
    width: 105px;
    height: 105px;
    padding: 3px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid white;
    z-index: 99;
}

.item-highlight p {
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 0;
    right: 0;
    font-size: 7pt;
    background: #445065;
    color: white;
    padding: 4px;
    margin: 0 2px 2px 0;
    line-height: 12px;
}

button.select-all-items {
    background: white;
    color: #424e63;
    font-size: 9pt;
    padding: 5px;
    float: right;
}
.item .thumbnail {
    width: 85px;
    height: 85px;
}

.group-highlight {
    position: absolute;
    right: 11px;
    line-height: 22px;
    color: #ff4c4c;
    visibility: hidden;
}