.tiles {
    margin: 5px auto;
    width: 900px;
    padding-top: 20px;
    height: 384px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.tile {
    position: relative;
    width: 100px;
    height: 100px;
    background: white;
    -webkit-box-shadow: 0px 3px 0px 0px rgb(35,45,65, 0.3);
    -moz-box-shadow: 0px 3px 0px 0px rgb(35,45,65, 0.3);
    box-shadow: 0px 3px 0px 0px rgb(35,45,65, 0.3);
    transition: 0.3s;
}
.tile:hover{
    cursor: pointer;
    -webkit-box-shadow: 0px 5px 0px 0px rgb(35,45,65, 0.8);
    -moz-box-shadow: 0px 5px 0px 0px rgb(35,45,65, 0.8);
    box-shadow: 0px 5px 0px 0px rgb(35,45,65, 0.8);
}

.counter {
    position: absolute;
    background: #38455B;
    color: white;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border: 5px solid #eaf4f4;
    bottom: 13px;
    right: -15px;
    top: -15px;
    font-size: 10pt;
}
.navigation {
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    height: 30px;
    background: #38455b;
    color: white;
    font-size: 9pt;
}

.navigation p {
    float: left;
    line-height: 30px;
    margin-left: 20px;
}

.navigation input {
    width: 30px;
    padding-left: 10px;
}

div.navigation :last-child {float: right;padding-right: 13px;}

.navigation input {
    float: left;
    margin: 8px 5px;
}

.selected {
    width: 100px;
    height: 100px;
    padding: 6px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    border: 2px solid #38455b;
}
.thumbnail {
    width: 80px;
    height: 80px;
    padding: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-clip: content-box;
}

.panels button {
    display: inline-block;
    font-size: 10pt;
    color: white;
    height: 30px;
    margin-left: 10px;
    padding: 0 10px;
    background: #38455b;
    transition: 0.3s;
}

.panels {
    width: 900px;
    margin: 25px auto;
    display: grid;
    grid-template-columns: 1fr auto auto;
}